<footer class="footer">
        <div class="container">
            <div class="footer-inner">
                <ul class="footer-col">
                    <li>
                        <a href="#">Visit our Store</a>
                    </li>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Contacts</a>
                    </li>
                    <li>
                        <a href="#">Ratings</a>
                    </li>
                </ul>
                <ul class="footer-col">
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Terms of Conditions</a>
                    </li>
                    <li class="footer-socials">
                        <a href="#">
                            <img src="" alt="">
                        </a>
                        <a href="#">
                            <img src="" alt="">
                        </a>
                        <a href="#">
                            <img src="" alt="">
                        </a>
                        <a href="#">
                            <img src="" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>